.navbar-default {
    background-color: rgba(6,102,178,0.9);
    border-color: #e7e7e7;
}
.navbar-brand span {
    color: #E6344A;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand  {
    color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #eee;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    border-bottom: 3px solid #fff;
}
h1, h2{
	text-align: center
}
.container-fluid {
    padding-top: 45px;
}
#minimal{
	border-radius: 0px;
	background: transparent;
    border: 2px solid #0057A6;
    color: #0057A6;
}
#minimal:hover{
	color: #fff;
	background: #0057A6;
}
#minimal-yt{
	border-radius: 0px;
	background: transparent;
    border: 2px solid #cd201f;
    color: #cd201f;
}
#minimal-yt:hover{
	color: #fff;
	background: #cd201f;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
	border-bottom: 3px solid white;
}
/* footer */
#Made with {
	float: right;
	margin-right: 100px;
}

footer {
	background: #2C3E50;
	bottom: 0;
	width: 100%;
	margin-top: 0%;
	border-top: 1px solid white;
}

.jaska-foot {
	color: #E74C3C;
}

.jaska-foot:hover {
	color: #fff;
}

footer .copyright {
	width: 50%;
	float: left;
	background: #2C3E50;
}

@media (max-width: 600px) {}

footer .copyright p {
	padding-left: 10%;
	color: white;
	font-size: 0.7em;
	line-height: 70px;
	height: 60px;
	text-transform: capitalize;
	letter-spacing: 1px;
}

@media (max-width: 600px) {
	footer .copyright p {
		text-align: center;
		padding: 0;
		width: 300px;
		margin-left: 5px;
	}
}

footer .social {
	width: 50%;
	float: right;
}

@media (max-width: 600px) {
	footer .social {
		width: 100%;
	}
}

footer .social a {
	float: left;
	line-height: 70px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-weight: bold;
	transition: background .33s ease-out, color .33s ease-out, fill .33s ease-out;
}

footer .social a:hover {
	background-color: rgba(1, 183, 241, 0.6);
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.linkedin {
	background-color: #ff5700;
	font-size: 1.2em;
	width: 40%;
}

.tweet {
	background-color: #3DACDD;
	font-size: 1.2em;
	width: 20%;
}

.support {
	background-color: #6dcd9a;
	font-size: 0.8em;
	width: 40%;
}
/* code */
pre {
	background: #222;
    font-weight: bold;
    border-radius: 0px;
    color: #ddd;
	max-height: 500px;
}
#contacts a {
    text-decoration: none;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
@media (max-width: 600px) {
	footer .copyright {width: 100%;}
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:50px;
}
